@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
a {
  font-family: "Poppins", sans-serif;
}
/* css for header */
.header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.nav {
  display: flex;
  border-radius: 20px;
  border: 1px solid #5b9092;
  overflow: hidden;
}
.nav a {
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  padding: 20px;
  display: flex;
}

.nav a:nth-child(1) {
  border-right: 1px solid #5b9092;
}
.nav a.active {
  background-color: #5b9092;
  color: white;
}
.nav a:hover {
  background-color: #76b2b4;
  color: white;
}
/* css for body */
/* css for calculator */
.calculator-wrapper {
  width: fit-content;
  padding: 10px;
  background-color: #5b9092;
  color: white;
  padding: 40px;
  border-radius: 20px;
  margin: 40px auto 0;
}
hr {
  margin-bottom: 20px;
}
.calculator-wrapper .input-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.calculator-wrapper .input-group input {
  padding: 10px;
  font-size: 16px;
  width: 500px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.btn-group {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.btn-group button {
  padding: 16px 20px;
  border-radius: 4px;
  border: none;
}
