input[type="file"] {
  display: none;
}
.input-custom {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.input-custom:hover {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.table-officer {
  margin: 20px 0;
}
